* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    margin-top: 30px;
    border: 1px solid black;
}

.itemCon{
    
}